<!DOCTYPE html>
<html>
<h1>Синонимы</h1>
<p><b>Ниже представлен список слов. Необходимо вписать первый синоним заданого слова, который Вы вспомните. </b></p>
<p><b>Все поля обязательны к заполнению!</b></p>
<body>
<form action="/stats">
<p><i>Солидный </i> <input type="text" name="sol" value=""></p>
<p><i>Тотальный </i> <input type="text" name="tot" value=""></p>
<p><i>Истошный </i> <input type="text" name="ist" value=""></p>
<p><i>Безукоризненный </i> <input type="text" name="uko" value=""></p>
<p><i>Безотлагательный </i> <input type="text" name="otl" value=""></p>
<p><i>Вопиющий </i> <input type="text" name="vop" value=""></p>
<p><i>Исчерпывающий </i> <input type="text" name="isc" value=""></p>

<p><b>Ваш пол</b></p>
<p><input name="sex" type="radio" value="male"> м <input name="sex" type="radio" value="female"> ж</p>

<p><b>Возраст:</b></p>
<p><input type="text" name="age" value=""></p>

<p><b>Вы</b></p>
<input type="checkbox" name="job_w" value="wrk">Работаете<Br>
<input type="checkbox" name="job_s" value="stu">Учитесь<Br>

<p><b>Сфера рабочей деятельности</b></p>
<input type="radio" name="sph" value="matpr">материальное производство<Br>
<input type="radio" name="sph" value="int">интеллектуальная<Br>
<input type="radio" name="sph" value="ser">услуг<Br>
<p><input type="submit"></p>

</form>
</body>
</html>