<!DOCTYPE html>
<html>
<h1>Поиск</h1>
<p><b>Снонимов к опредененному слову из заданного списка (уникальные значения синонимов и количество их выбора голосовавшиими): </b></p>
<p><b> солидный, тотальный, истошный, безукоризненный, безотлагательный, вопиющий, исчерпывающий</b></p>
<body>
<form action="/results">
<p><b>Слово:</b></p>
<p><input type="text" name="word" value=""></p>
<input type="checkbox" name="all" value="stu">Показать только самый популярный<Br>
<p><input type="submit" value = "Поиск"></p>

</body>
</html>